<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"   "http://www.w3.org/TR/html4/loose.dtd"> 
  <html> 
  <head> 
<script type="text/javascript" src="__PUBLIC__/Js/jquery-1.4.2.min.js"></script>
     
    <script> 
    $(document).ready(function(){ 
       
      $("button").click(function(){ 
        $(this).clone(true).insertAfter(this); 
      }); 
   
    }); 
    </script> 
     
  </head> 
  <body> 
    <button>Clone Me!</button> 
    <div>
     

    </div>
  </body> 
  </html> 